{% extends "layout.html" %}
{% block titulo %}Programa de Orientación Profesional (POP) — Julio Flórez{% endblock %}
{% block contenido %}

<header class="encabezado-pagina">
  <div class="container">
    <div class="icono-circulo"><i class="bi {{ info.icono }}"></i></div>
    <h1>{{ info.titulo }}</h1>
  </div>
</header>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <p>El Programa de Orientación Profesional (POP) integra los valores del Bachillerato Internacional (BI) con una formación profesional adaptada a las necesidades de aquellos estudiantes que desean seguir una carrera específica.</p>
        <p>Para desarrollar este programa en el CITD Julio Flórez, los estudiantes vivencian los atributos del Perfil de la Comunidad de Aprendizaje, estudian tres cursos del Programa de Diploma (PD), junto con los componentes troncales del POP y un programa de Estudios de Formación Profesional correspondiente a los programas técnicos especializados que ofrece la institución.</p>
        <p class="mb-0">Este programa está diseñado para preparar a los estudiantes tanto en el ámbito profesional como académico, promoviendo actitudes y hábitos mentales que estimulan un aprendizaje continuo a lo largo de la vida.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}